.wrapper {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 330px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background: black;
}

.boxes.reserved {
    background: black;
}

h1, h3 {
    color: lightblue;
}

h3 {
    font: 20px;
    text-align: center;
}

h1 {
    font: 26px;
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
}

.boxes {
    width: 70px;
    height: 70px;
    margin: 3px;
    border-radius: 5px;
    background: rgb(168, 203, 239);
    font: 32px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picked {
    background: lightgreen;
}
