.wrapper {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 330px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background: black;
}

.boxes.reserved {
    background: black;
}

h1, h3 {
    color: lightblue;
    font-family: sans-serif;
}

h3 {
    font: 20px;
    text-align: center;
}

h1 {
    font: 26px;
    margin-top: 10px;
    text-align: center;
}

.winner {
    display: none;
}
/*Polotnianko Mykola (c)2017*/

.boxes {
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 3px;
    border-radius: 5px;
    background: rgb(168, 203, 239);
    font: 32px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picked {
    background: lightgreen;
}

.count {
    float: right;
    font: 20px sans-serif;
    color: lightgreen;
}


.start-again {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid rgb(150, 136, 14);
    color: rgb(150, 136, 14);
    font: 16px sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
}

.start-again:hover {
    color: rgb(180, 180, 14);
    border-color: rgb(180, 180, 14);
}

